name: NPM CD workflow

on:
  push:
    branches:
      - main
      - main-beta
      - main-alpha

jobs:
  runCI:
    uses: ./.github/workflows/CI_PR_merge_checks.yml

  releaseAndBumpVersion:
    needs: runCI
    name: Publish the package
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Upgrade npm CLI for trusted publishing
        run: npm i -g npm@^11.5.1

      - name: Configure Github credentials
        run: |
          git config --global user.name "Github"
          git config --global user.email "github@faire.com"

      - run: |
          yarn install
          yarn build-mjml-react

      - name: Run semantic release (release + bump version)
        run: |
          cd dist
          npx semantic-release
        env:
          HUSKY: 0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
